<html>
    <head>
        <meta charset="UTF-8">
        <title> Index </title>
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">                    
    </head>
    <body></br></br></br></br></br>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Index</h1>
             </div></br></br></br>
                <h1 class="bottom">
                     Hi {{session.username}}!</br></br> Welcome to the index page.        
                </h1></br></br></br>
                <a href="{{ url_for('form') }}" class="btn">Form</a>       
                </h1></br></br></br>
                <a href="{{ url_for('logout') }}" class="btn">Logout</a>
          </div>
        </div>
    </body>
</html>