<html>
    <head>
        <meta charset="UTF-8">
        <title> Password </title>
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">          
    </head>
    <body></br></br></br></br></br>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Password</h1>
             </div></br></br></br>
            <h2 class="word">
                An email has been sent
            </h2>
            <p class="bottom"><a class="bottom" href="{{url_for('register')}}"> Sign Up</a></p>
            <p class="bottom"><a class="bottom" href="{{url_for('login')}}"> Sign In here</a></p>
          </div>
        </div>
    </body>
</html>