<html>
    <head>
        <meta charset="UTF-8">
        <title> Password</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>         
    </head>
    <body></br></br></br></br></br>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
        <div class="container">
          <div class="jumbotron">
            <div align="center">
              <div align="center" class="border">
                <div class="header">
                  <h1 class="word">Password Recovery</h1>
                </div></br></br></br>
                <h2 class="word">
                    <form action="{{ url_for('password_recovery') }}" method="post">
                      <div class="msg">{{ msg }}</div>
                        <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/></br></br>
                        <input type="submit" class="btn btn-primary btn-lg" value="Submit"></br></br>
                    </form>
                </h2>
                <p class="bottom">Don't have an account? <a class="bottom" href="{{url_for('register')}}"> Sign Up</a></p>
                <p class="bottom">Already have an account?  <a class="bottom" href="{{url_for('login')}}"> Sign In here</a></p>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>